.debug .box {
    background-color: cornflowerblue;
    color: white;
    height: 100px;
    border: solid 1px white;
}

.debug .box-inner {
    background-color: green;
    border: solid 1px white;
    padding: 20px;
}